<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{0} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <property name="performancePattern" value="%d{HH:mm:ss} PERFORMANCE %msg%n"/>
    <appender name="PERFORMANCE_OUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${performancePattern}</pattern>
        </encoder>
    </appender>
    <logger name="at.ipsquare.commons.core.util.PerformanceLogger" level="DEBUG" additivity="false">
        <appender-ref ref="PERFORMANCE_OUT"/>
    </logger>

    <logger name="com.github.mlangc.latex" level="debug"/>
    <logger name="com.github.mlangc.wetterfrosch" level="debug"/>
    <logger name="com.github.mlangc.wetterfrosch.dl4j.SingleValueOutputRnnTrainer" level="info"/>
    <logger name="org.deeplearning4j.optimize.listeners.ScoreIterationListener" level="warn"/>
    <logger name="at.ipsquare.commons.core.util.PerformanceLogger" level="debug"/>
    <logger name="neuroflow" level="debug"/>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>